.cart-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-image {
  width: 100px;
  height: 100px;
}

.product-list-table {
  border-spacing: 0;
}

.product-list-table th {
  padding: 4vh;
  border-bottom: 1px solid;
  border-collapse: collapse;
}

.product-list-table td {
  padding: 2.5vh;
}

.cart-actions-container {
  margin-top: 4vh;
}

.clear-cart-button {
  background-color: #0f1c38;
  color: #ffffff;
  padding: 2vh;
  border: 0;
  transition: background-color 0.2s ease-in-out;
}

.clear-cart-button:hover {
  background-color: #eb7107;
}
