.app-header {
  background-color: #0f1c38;
  color: white;
  padding: 5vh;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
}

.links-container {
  display: flex;
}

.cart-counter {
  padding: 0.5vh;
  border-radius: 20%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d84315;
}

/* LINK EFFECT*/
.link-header {
  margin-right: 2vh;
  text-decoration: none;
  line-height: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px 5px;
  overflow: hidden;
  color: #ffffff;
  vertical-align: bottom;
  transition: color 0.3s ease-out;
  font-size: 0.8rem;
}

.link-header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #01579b 0%, #d84315 100%);
  transition: transform 0.25s ease-out;
}

.link-header:hover {
  color: #fff;
}
.link-header:hover::before {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}
