.list-container {
  margin-top: 3vh;
}

.product-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid grey;
}

.description{
  font-size: 9px;
  word-wrap: break-word;
}
