.product-details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.product-name {
  font-size: 3rem;
}

.product-description {
  font-size: 0.9rem;
}

.left-panel {
  padding: 7vh;
}

.right-panel {
  width: 40%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 7vh;
}

.review-container {
  margin: 2vh;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 2vh;
}

.product-reviews-container {
  padding: 0 18vw;
  margin: 0 5vh;
}

.normal-price {
  color: #8f8a8a;
  margin-right: 2vh;
  text-decoration: line-through;
}

.final-price {
  color: #eb7107;
  font-size: 1.8rem;
}

.add-to-cart-button {
  margin: 0 2vh;
  background-color: #eb7107;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: #0f1c38;
}

.review-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3vh 0;
  border-bottom: 1px solid; 
}